.entry{
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    *{
        margin: 10px;
    }

    .trans-table-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}
